<h3>
    Hebcal with DexExpress
</h3>
<br>Open the devools. reload the page and see the error.
<br>

<p style="background-color: ghostwhite;">
    main.ts:11 ERROR TypeError: Method get Intl.DateTimeFormat.prototype.format called on incompatible receiver
    undefined
    at get format (anonymous>)
    at format (index.mjs:2029:55285)
    at formatDateTime (date.js:41:12)
    at date.js:27:16
    at Object.format (date.js:207:20)
    at Object.anonymous> (class.js:18:27)
    at object.computed> [as format] (dependency_injector.js:29:46)
    at Object.format (format_helper.js:41:20)
    at object.computed> [as format] (dependency_injector.js:29:46)
    at Object.formatValue (m_utils.js:121:21)
</p>

<hr>
<p>
    <br>

    Comment out the line: "let zman = new Zmanim(Location.lookup("Jerusalem"), new Date(), true);"
    <br>
    in app.component file,
    to see how it work without the error.
</p>
<hr>

<dx-data-grid #grid id="gridContainer" class="report-data-grid" [dataSource]="clients">

    <dxi-column dataField="id"></dxi-column>
    <dxi-column dataField="createdAt"></dxi-column>
    <dxi-column dataField="name"></dxi-column>
    <!-- <dxi-column dataField="firstName" ></dxi-column> -->
</dx-data-grid>